<body>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 title="title">Total Employés:</h2>
                    <h1 class="title">{{data?.user}}</h1>
                    <p>
                        <<button class="button" [routerLink]="['/cafe/user']">View Users</button>
                    </p>
                </div>
            </div>
        </div>
     </div>


     <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 title="title">Total Contrat:</h2>
                    <h1 class="title" *ngIf="data">{{data.contrat}}</h1>
                    <p>
                        <<button class="button" [routerLink]="['/cafe/contrat']">View Contract</button>
                    </p>
                </div>
            </div>
        </div>
     </div>
</body>